/*Name varieble*/
:root {
    --Deep-Navy: #0F1A2B;
    --Ivory: #BDC4D4;
    --white: #F9F9F9;
    --eng-font: "Cause", cursive;
    --Midnight-Blue: #1C2E4A;
    --shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.08);
}

body {
    /*background-color: #2E3440;*/
    background-color: var(--Deep-Navy);
    color: var(--white);
    font-family: var(--eng-font);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

}

.custom-loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: var(--Midnight-Blue);

    transition: opacity 0.5s, visibility 0.5s;
}

.custom-loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.custom-loader::after {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: white;
    color: white;
    box-shadow: -38px 0px, 38px 0px;
    animation: d8 1s infinite;
}

@keyframes d8 {
    25% {
        box-shadow: -38px -38px, 38px 38px
    }

    50% {
        box-shadow: 0px -38px, 0px 38px
    }

    75% {
        box-shadow: 38px -38px, -38px 38px
    }

    100% {
        box-shadow: 38px 0px, -38px 0px
    }
}

header {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
    z-index: 1000;

    background-color: var(--Deep-Navy);
    animation: nav-drop 0.7s ease;
}

@keyframes nav-drop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.top-left,
.goto,
.top-right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.goto {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5%
}

.top-left {
    justify-content: flex-start;

    font-weight: bold;
    display: flex;
}

/* .top-left p {
    padding-left: 8px;
} */
.container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-left-icon {
    width: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-left-icon svg {
    width: 32px;
    height: 32px;
}

.nav-left-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-left-label p {
    margin: 0;
}


.nav-left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-right {
    padding-right: 16px;
    justify-content: flex-end;
}

#goto-timer,
#goto-home-page,
#goto-music {
    width: 60px;
    height: 60px;

    border-radius: 50%;

    border: none;

    background: white;
    color: var(--Deep-Navy);
    font-family: var(--eng-font);
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;

    transition: all 0.3s ease;
}

.nav-label {
    display: flex;
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s;

    font-size: 32px;
    top: 110%;
    width: 130px;

    color: var(--white);

    background: var(--Midnight-Blue);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(255, 255, 255, 0.89);

    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125); */

    text-align: center;
    justify-content: center;
}

#goto-timer:hover,
#goto-home-page:hover,
#goto-music:hover {
    transform: translateY(-3px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.08);
    background-color: var(--Midnight-Blue);
}

#goto-timer:hover .nav-label,
#goto-home-page:hover .nav-label,
#goto-music:hover .nav-label {
    opacity: 1;
}

#goto-timer:hover .nav-icon svg,
#goto-home-page:hover .nav-icon svg,
#goto-music:hover .nav-icon svg {
    stroke: var(--white);
}

#home-page,
#timer,
#music {
    display: flex;
    justify-content: center;
    text-align: center;
}

main {
    margin-top: 80px;
}

.timeChar {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 8em;
}

#startButton,
#pauseButton,
#resumeButton,
#resetButton {
    border: none;
    font-family: var(--eng-font);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 32px;

    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--Deep-Navy);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#startButton:hover,
#pauseButton:hover,
#resumeButton:hover,
#resetButton:hover {
    transform: translateY(-3px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.08);
    background-color: var(--Midnight-Blue);
    color: white;
}


.timer-button {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    gap: 1%;
}

.nav-icon {
    width: 28px;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-icon svg {
    width: 100%;
    height: 100%;

    stroke: currentColor;
    stroke-width: 2;

    overflow: visible;
    stroke: var(--Deep-Navy);

}

#timer {
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: 36px 32px;
    margin: 0px auto;
    max-width: 1040px;
}

.timer-page {
    border-radius: 12px;
    border: 3px solid rgba(255, 255, 255, 0.125);

    justify-content: center;
    align-items: center;

    margin: 0px auto;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 48em;


}

#timer h1 {
    margin: 0;
}